
/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:769px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:769px) and ( max-width:1025px) {} */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
html{
	color: #242424;
	font-size: 16px;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500;
	line-height: 1.8;
	letter-spacing: 2px;
}
a{
	color: #242424;
	display: block;
}
#wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	margin-top: 90px;
}
section,
.section{
	min-width: 1280px;
	width: 100%;
	height: auto;
	position: relative;
}
.container{
	width: 1280px;
	padding: 0 50px;
	margin: 0 auto;
}
.s_container{
	width: 980px;
	padding: 0 50px;
	margin: 0 auto;
}
/* @media screen and (min-width:1540px) {
	.container{max-width: 1480px;}
}
@media screen and (min-width:1280px) and ( max-width:1539px) {
	.container{max-width: 1280px;}
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	.container{max-width: none;}
} */
.is_sp{display: none;}
.is_tab{display: none;}
@media screen and (min-width:751px) and ( max-width:1025px) {
	.is_hidden_tab{display: none;}
	.is_tab{display: block;}
} 
:root{
	--blue: #1f649e;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.notoserif{
	font-family: 'Noto Serif JP', serif;
	font-weight: 700;
}
.lato{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}
.head_ttl{
	font-size: 3.5rem;
	line-height: 1;
	letter-spacing: 6px;
	text-align: center;
	margin-bottom: 2.5rem;
}
.ttl_wrap{ margin-bottom: 0.75rem; }
.ttl_wrap .ttl{
	font-size: 1.8rem;
	line-height: 1.4;
}
.ttl_wrap .en{
	font-size: 1.1rem;
}
.more_links{
	display: flex;
	margin-top: 2.5rem;
}
.more{
	position: relative;
	display: inline-block;
	margin-left: auto;
}
.more::before{
	position: absolute;
	content: '';
	bottom: -0.75rem;
	left: 0;
	width: 0;
	height: 3px;
	background: #000;
	transition: .3s;
}
a:hover .more::before{
	width: 100%;
}
.more p{
	line-height: 1;
	font-size: 1.25rem;
	font-weight: bold;
}
.more span{
	font-size: 1.4rem;
	margin-left: 0.25rem;
	vertical-align: -0.15rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 55000;
	transition: .3s;
	background: rgba(255,255,255,.9);
}
.header_in{
	width: 100%;
	max-width: 1920px;
	min-width: 1280px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
header .logo{
	width: 250px;
	margin-left: 2rem;
	line-height: 0;
}
header nav{
	margin-left: auto;
}
header nav .menu{
	display: flex;
}
header nav .menu > li a{
	position: relative;
	padding: 1.95rem 1.75rem;
	transition: .3s;
}
header nav .menu li a::before{
	position: absolute;
	display: block;
	content: '';
	top: 0;
	left: 50%;
	transform: translateX(-50%) scaleX(0);
	transform-origin: center center;
	background: var(--blue);
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: .3s;
}
header nav .menu li a:hover{
	color: #fff;
}
header nav .menu li a:hover::before{
	transform: translateX(-50%) scaleX(1);
}
header nav .menu li a span{
	margin-left: 0.5rem;
}
header .menu01{
	position: relative;
}
header .menu01_in{
	display: none;
	position: absolute;
	top: 90.38px;
	left: 1rem;
	width: 300px;
	background: #fff;
	transition: .3s;
	padding: 1rem;
	z-index: 3;
}
header .menu01_in > li a{
	background: #fff;
	padding: 1rem!important;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 2px #e8e8e8;
}
header .h_btn{
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
header .h_btn.tel{ background: #454545; }
header .h_btn.mail{ background: #1f649e; }
header .h_btn img{
	width: 50%;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer .contact{
	color: #fefefe;
	padding: 6rem 0;
	background: url(../images/common/footer_bg.jpg) center center / 1920px auto no-repeat;
}
footer .contact .copy{
	display: inline-block;
	font-size: 1.1rem;
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}
footer .box_in{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer .contact .tel_wrap{
	width: 50%;
}
footer .contact .box_in p{
	line-height: 1;
}
footer .contact .tel{
	font-size: 3.4rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
footer .contact_btn{
	width: 45%;
}
footer .contact_btn a{
	position: relative;
	color: #fefefe;
	background: var(--blue);
	font-size: 1.6rem;
	line-height: 1;
	padding: 1.5rem 1rem 1.5rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: .3s;
}
footer .contact_btn a:hover{
	background: #33a3ff;
}
footer .contact_btn a:hover::before{
	transform: translateX(-50%) scaleX(1);
}
footer .contact_btn a .img{
	width: 45px;
}
footer .contact_btn a span{
	font-size: 2.2rem;
}
footer .map iframe{
	width: 100%;
}
footer .map iframe,
footer .map object,
footer .map embed{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 .mv{ position: relative; }
.top01 .mv img{ width: 100%; }
.top01 .mv .copy{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	color: #fefefe;
	text-align: center;
	z-index: 2;
}
.top01 .mv .copy h2{
	font-size: 3.75rem;
	letter-spacing: 6px;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	padding: 6rem 0 3rem;
}
.top02 .box{
	display: flex;
	justify-content: space-between;
}
.top02 .box .txt{
	width: 52%;
}
.top02 .box .txt h3{
	font-size: 2.4rem;
	margin-bottom: 1rem;
}
.top02 .box .txt h4{
	font-size: 1.2rem;
	margin-bottom: 1rem;
}
.top02 .box .img{
	width: 45%;
}
.top02 .box .img img{
	width: 100%;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03{ padding: 3rem 0 6rem; }
.top03 .box{
	display: flex;
}
.top03 .item{
	display: flex;
	flex-direction: column;
	width: 32%;
	margin-right: 2%;
}
.top03 .item:nth-of-type(3n){
	margin-right: 0;
}
.top03 .item .img,
.top03 .item .img img{
	width: 100%;
}
.top03 .item .img{
	position: relative;
	overflow: hidden;
}
.top03 .item .img::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	top: 0;
	left: 0;
	transition: .3s;
}
.top03 .item:hover .img::after{
	opacity: 0;
}
.top03 .item .img img{
	transition: .3s;
}
.top03 .item:hover .img img{
	transform: scale(1.05);
}
.top03 .txt{
	margin: 1rem auto 2rem;
}
.top03 .item h4{
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
}
.top03 .item .more{
	margin-top: auto;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04{
	padding: 6rem 0;
	background: url(../images/top/top04_bg.jpg) center center / 1920px auto no-repeat;
}
.top04 .box{
	position: relative;
	display: flex;
	align-items: flex-start;
}
.top04 .box .img{
	margin-right: 2%;
}
.top04 .box .img:first-of-type{
	width: 46%;
}
.top04 .box .img:nth-of-type(2){
	width: 26%;
}
.top04 .box .img:last-of-type{
	width: 24%;
	margin-right: 0;
}
.top04 .box .txt{
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 1rem;
	right: 0;
	background: #fefefe;
	width: 65%;
	padding: 1.25rem 1.5rem 1.75rem;
}
.top04 .box .txt > p{
	padding-right: 4rem;
}
.top04 .box .more{
	margin-top: 0.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{ padding: 6rem 0 4rem; }
.top05 .box{
	display: flex;
}
.top05 .item{
	width: 25%;
}
.top05 .item .img{
	position: relative;
	width: 100%;
	height: 20rem;
	overflow: hidden;
}
.top05 .item .img::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	top: 0;
	left: 0;
	transition: .3s;
}
.top05 .item:hover .img::after{
	opacity: 0;
}
.top05 .item img{
	transition: .3s;
}
.top05 .item:hover img{
	transform: scale(1.05);
}
.top05 .item h3,
.top05 .item p{
	transition: .3s;
}
.top05 .item h3{
	font-size: 1.3rem;
	margin: 1rem 0 0.25rem;
}
.top05 .item:hover h3,
.top05 .item:hover p{
	opacity: 0.6;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06{ padding: 4rem 0 6rem; }
.top06 .item{
	border-bottom: solid 2px #e8e8e8;
	padding: 1rem;
}
.top06 .item:hover .date,
.top06 .item:hover .ttl{
	opacity: 0.6;
}
.top06 article{
	display: flex;
	align-items: center;
}
.top06 article .date{
	width: 25%;
	text-align: center;
	font-size: 1.25rem;
	transition: .3s;
}
.top06 article .ttl{
	width: 75%;
	font-size: 1.1rem;
	font-weight: bold;
	transition: .3s;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

